<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Isaac's Blog</title>
  </head>
  <body style="background-color: black; display: flex; flex-direction: column; font-size: 32px; justify-content: center; align-items: center">
    <h1 style="color: rgb(80, 80, 255);">Blog</h1>
    <p style="color: rgb(200, 200, 255);"> This is a blog created by Isaac Luengas. Feel free to chat amongst each-other</p>
  </body>
</html>
