{% extends 'blog/base.html' %} {% block content %}
<section
  style="
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  "
>
  <h2 style="font-size: 25px; font-family: 'lobster', 'arial'; color: black">
    New post
  </h2>
  <form
    method="POST"
    style="
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: fit-content;
      padding: 0;
      margin: 0;
    "
  >
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" style="width: 50px">Save</button>
  </form>
</section>
{% endblock %}
