{%extends 'blog/base.html'%} {%block content%} {% for post in posts %}
<article style="margin: 20px; margin-bottom: 40px; padding-bottom: 30px">
  <div
    style="
      margin: 0px;
      font-size: 30px;
      font-family: lobster, Arial, Helvetica, sans-serif;
      color: black;
    "
  >
    <a
      href="{% url 'post_detail' pk=post.pk %}"
      style="text-decoration: none; color: black; margin: 0px;"
      >{{ post.title }}</a
    >
  </div>
  <time
    style="
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      color: gray;
      font-weight: lighter;
      margin: 0px;
    "
  >
    published: {{ post.published_date }}
  </time>
  <p
    style="
      margin-top: 5px;
      width: calc(100% - 20px);
      display: flex;
      flex-wrap: wrap;
      color: black;
      font-size: 16px;
    "
  >
    {{ post.text|linebreaksbr }}
  </p>
</article>
{% endfor %} {%endblock%}
